/* purgecss start ignore */

.btn-main {
  @apply transition-colors duration-300 w-32 p-3 border text-center border-camel rounded-md font-serif text-camel;
}

.btn-main:hover {
  @apply bg-camel text-white;
}

/* Defining Links in Top Navigation */
.nav-link {
  @apply font-serif text-night-light;
}

/* Intro text, mostly for markdown pages */
.intro {
  @apply text-26 font-serif;
}

/* purgecss end ignore */
