<!doctype html>
<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="main.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Lato|Zilla+Slab:400,400i,500&display=swap"
      rel="stylesheet"
    />
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, minimal-ui"
    />

    <title>$if(title-prefix)$$title-prefix$ – $endif$$pagetitle$</title>
  </head>

  <!--END OF HEAD ^-->
  <!--START OF BODY v-->

  <body>
    <div class="min-w-mobile overflow-hidden">
      <!--lg:col-start-2 lg:col-span-6
          md:col-start-1 md:col-span-4-->

      <div class="flex justify-center"
      >
        <!-------------------------------------------------------------------------------->
        <!--Navigation-->
        <header
          class="pl-4 sm:px-4 pt-8 max-w-6xl h-16  w-full flex sm:justify-between items-center"
        >
        <div class="flex justify-center">
          <img
            class="hidden sm:block w-40"
            src="../assets/ocsf_logo.svg"
            alt="Logo OCaml Software Foundation"
          />
          <img
            class="sm:hidden w-8 mr-8"
            src="../assets/ocsf_logo_compact.svg"
            alt="Logo OCaml Software Foundation Small"
          />
        </div>
          <nav
            class="text-18 flex flex-no-wrap whitespace-no-wrap overflow-auto text-night-light"
          >
            <a class="inline-block p-2" href="#">Actions</a>
            <a class="inline-block p-2" href="#">Become a sponsor</a>
            <a class="inline-block py-2" href="#">About us</a>
          </nav>
        </header>

      </div>
      <main class="px-4 mt-12 mb-12 flex justify-center">
        <div class="md max-w-3xl w-full">
          $body$
        </div>
      </main>

      <!--FOOTER IN A GRID-->

      <footer class="px-4 flex sm:justify-center bg-gray-900 font-serif font-medium text-16 text-white pt-12 pb-32">
        <div class="max-w-6xl grid grid-cols-2 sm:grid-cols-8 gap-4 row-gap-6">
          <div class="sm:col-span-3 ">
            <div class="text-camel">Ocaml Software Foundation</div>
            <ul class="text-ghost-44">
              <li>Email</li>
              <li>Address</li>
              <li>
                <img
                  class="pt-4"
                  src="../assets/ocsf_logo_compact.svg"
                  alt="Logo OCaml Software Foundation Small"
                  />
              </li>
            </ul>
          </div>

          <div class="sm:col-start-6">
            <div class="text-camel">Sitemap</div>
            <ul class="text-ghost-44">
              <li>Become a Sponsor</li>
              <li>Actions</li>
              <li>About</li>
            </ul>
          </div>

          <div class="">
            <div class="text-camel">Social Media</div>
            <ul class="text-ghost-44">
              <li>Twitter</li>
              <li>Address</li>
            </ul>
          </div>

          <div class="">
            <div class="text-camel">Legal</div>
            <ul class="text-ghost-44">
              <li>Impressum</li>
              <li>Statutes</li>
              <li>Inria Foundation</li>
            </ul>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>
